
.svn/*
.DS_Store

Build/*
DerivedData/*

**/*.xcodeproj/xcuserdata/*
**/*.xcworkspace/xcshareddata/*
**/*.xcworkspace/xcuserdata/*
**/*.xcworkspace/xcuserdata/*
**/*.xcworkspace/*

Resources

**/Pods/*